<div id="history-list">
    <div class="heading">
        <form class="form-type float-left" action="{{ path('app_address_index', {hash: summary.hash}) }}">
            {% set button = "Filter Type" %}
            {% if (type == "stake") %}
                {% set button = "Filtering Stake" %}
            {% endif %}
            <button class="btn btn-outline dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">{{ button }}</button>
            <div class="dropdown-menu">
                <a class="dropdown-item {% if (type == "stake") %}selected{% endif %}" href="{{ path("app_address_index", {'hash': summary.hash, 'type': 'stake'}) }}">
                    Staked
                </a>
                <a class="dropdown-item {% if (type == "send") %}selected{% endif %}" href="{{ path("app_address_index", {'hash': summary.hash, 'type': 'send'}) }}">
                    Sent
                </a>
                <a class="dropdown-item {% if (type == "receive") %}selected{% endif %}" href="{{ path("app_address_index", {'hash': summary.hash, 'type': 'receive'}) }}">
                    Received
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path("app_address_index", {'hash': summary.hash}) }}">
                    Reset
                </a>
            </div>
        </form>

        <div class="form-address-type float-right">
            <button class="btn btn-outline dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">View changes</button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input toggle-view-spending" name="spending" id="history-toggle-spending">
                        <label class="custom-control-label" for="history-toggle-spending">Spending changes</label>
                    </div>
                </a>
                <a class="dropdown-item">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input toggle-view-staking" name="staking" id="history-toggle-staking">
                        <label class="custom-control-label" for="history-toggle-staking">Staking changes</label>
                    </div>
                </a>
                <a class="dropdown-item">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input toggle-view-voting" name="voting" id="history-toggle-voting">
                        <label class="custom-control-label" for="history-toggle-voting">Voting changes</label>
                    </div>
                </a>
            </div>
        </div>
    </div>

    {#    <table class="table table-striped table-adaptive" data-url="{{ path('app_address_history', {'hash': address.hash, 'filters': filters }) }}">#}
    <table class="table table-striped table-adaptive" data-url="{{ path('app_address_history', {'hash': summary.hash, 'type': type }) }}">
        <caption>
            <div class="table-pagination"></div>
        </caption>
        <thead>
        <tr>
            <th>Date/Time</th>
            <th>Height</th>
            <th>Type</th>
            <th>Txid</th>
            <th colspan="2">Changes</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr><th colspan="7">Loading transaction history...</th></tr>
        </tbody>
    </table>
</div>