<div>
    <div class="heading">
        <button class="btn btn-outline dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ period|capitalize }} Report</button>
        <div class="dropdown-menu">
            <a class="dropdown-item {% if (period == "hourly") %}selected{% endif %}" href="{{ path('app_address_index', {'hash': summary.hash, 'period': 'hourly'}) }}">
                Hourly
            </a>
            <a class="dropdown-item {% if (period == "daily") %}selected{% endif %}" href="{{ path("app_address_index", {'hash': summary.hash, 'period': 'daily'}) }}">
                Daily
            </a>
            <a class="dropdown-item {% if (period == "monthly") %}selected{% endif %}" href="{{ path("app_address_index", {'hash': summary.hash, 'period': 'monthly'}) }}">
                Monthly
            </a>
        </div>
    </div>

    {% if stakingReport %}
        <table class="table table-striped table-adaptive table-nav">
            <thead>
                <tr>
                    <th>Period</th>
                    <th class="text-center">Stakes</th>
                    <th></th>
                    <th class="text-right">Spendable</th>
                    <th class="text-right">Stakable</th>
                    <th class="text-right">Voting Weight</th>
                </tr>
            </thead>
            <tbody>
                {% for index, row in stakingReport %}
                    <tr>
                        <td data-role="hourlyPeriod">{{ period(stakingReport.period, index, row) }}</td>
                        <td data-role="numStakes" class="text-center">{{ row.stakes|number_format }}</td>
                        <td class="hide text-right"><label>Reward<br/>Annual %</label></td>
                        <td class="text-right" data-role="spendable">
                            {{ row.spendable|nav }}<br/>
                            {{ row.spendableRatioAnnualised(summary.spendable.balance, stakingReport.period)|number_format(2) }}%
                        </td>
                        <td class="text-right" data-role="stakable">
                            {{ row.stakable|nav }}<br/>
                            {{ row.stakableRatioAnnualised(summary.stakable.balance, stakingReport.period)|number_format(2) }}%
                        </td>
                        <td class="text-right" data-role="votingWeight">
                            {{ row.votingWeight|nav }}<br/>
                            {{ row.votingWeightRatioAnnualised(summary.votingWeight.balance, stakingReport.period)|number_format(2) }}%
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">The staking report is currently unavailable</div>
    {% endif %}
</div>