<div class="address-summary">
    <h2 class="break-word">{{ summary.hash }}</h2>
    <table class="table table-nav table-striped">
        <tbody>
        <tr>
            <th scope="col">Rich List</th>
            <td>{{ address.richList.spendable|ordinal }}</td>
        </tr>
        <tr>
            <th scope="col">Spendable Balance</th>
            <td>{{ summary.spendable.balance|nav }}</td>
        </tr>
        <tr>
            <th scope="col">Stakable Balance</th>
            <td>{{ summary.stakable.balance|nav }}</td>
        </tr>
        <tr>
            <th scope="col">Voting Weight</th>
            <td>{{ summary.votingWeight.balance|nav }}</td>
        </tr>
        <tr>
            <th scope="col">Transactions</th>
            <td>{{ summary.txs|number_format }}</td>
        </tr>
        <tr>
            <th scope="col">Created At</th>
            <td>
                {{ address.createdTime|date_localised('Y-m-d, H:i:s') }}<br/>
                <small><label>Block&nbsp;</label><a href="{{ path("app_block_view", {'height': address.createdBlock}) }}">{{ address.createdBlock|number_format }}</a></small>
            </td>
        </tr>
        </tbody>
    </table>
</div>