<div>
    <div class="heading">
        <button class="btn btn-outline dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Group By</button>
        <div class="dropdown-menu">
            <a class="dropdown-item {% if (type == "hourly") %}selected{% endif %}" href="{{ path('app_address_index', {'hash': summary.hash, 'period': 'hourly'}) }}">
                Hourly
            </a>
            <a class="dropdown-item {% if (type == "daily") %}selected{% endif %}" href="{{ path("app_address_index", {'hash': summary.hash, 'period': 'daily'}) }}">
                Daily
            </a>
            <a class="dropdown-item {% if (type == "monthly") %}selected{% endif %}" href="{{ path("app_address_index", {'hash': summary.hash, 'period': 'monthly'}) }}">
                Monthly
            </a>
        </div>

        <div class="form-address-type float-right">
            <button class="btn btn-outline dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">For Balances</button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input toggle-view-spending" name="spending" id="staking-toggle-spending">
                        <label class="custom-control-label" for="staking-toggle-spending">Spending changes</label>
                    </div>
                </a>
                <a class="dropdown-item">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input toggle-view-staking" name="staking" id="staking-toggle-staking">
                        <label class="custom-control-label" for="staking-toggle-staking">Staking changes</label>
                    </div>
                </a>
                <a class="dropdown-item">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input toggle-view-voting" name="voting" id="staking-toggle-voting">
                        <label class="custom-control-label" for="staking-toggle-voting">Voting changes</label>
                    </div>
                </a>
            </div>
        </div>
    </div>

    {% if stakingReport %}
        <table class="table table-striped table-adaptive">
            <thead>
                <tr>
                    <th>Period</th>
                    <th># Stakes</th>
                    <th>Nav Earned</th>
                    <th>For Balance</th>
                    <th>Annual %</th>
                </tr>
            </thead>
            <tbody>
                {% for index, row in stakingReport %}
                    <tr>
                        <td data-role="hourlyPeriod">{{ period(stakingReport.period, index, row) }}</td>
                        <td data-role="numStakes">{{ row.stakes|number_format }}</td>
                        <td data-role="navEarned">
                            <div class="view-spending">{{ row.spending|stake_format }}</div>
                            <div class="view-staking">{{ row.staking|stake_format }}</div>
                            <div class="view-voting">{{ row.voting|stake_format }}</div>
                        </td>
                        <td data-role="forBalance" class="hide">
                            <div class="view-spending">Spending</div>
                            <div class="view-staking">Staking</div>
                            <div class="view-voting">Voting</div>
                        </td>
                        <td data-role="annualPercentage">
                            <div class="view-spending">{{ row.spendingRatioAnnualised(summary.balance.spending, stakingReport.period)|number_format(2) }}%</div>
                            <div class="view-staking">{{ row.stakingRatioAnnualised(summary.balance.staking, stakingReport.period)|number_format(2) }}%</div>
                            <div class="view-voting">{{ row.votingRatioAnnualised(summary.balance.voting, stakingReport.period)|number_format(2) }}%</div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">The staking report is currently unavailable</div>
    {% endif %}
</div>