{% extends "base.html.twig" %}

{% block title %}DAO Consultations{% endblock %}
{% block description %}NavCoin DAO Consultations{% endblock %}

{% block page %}page-dao-consultations{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>DAO</h1>
                <h2>Consensus Parameter</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped table-proposal">
                    <tbody>
                    <tr>
                        <td><strong>Id</strong></td>
                        <td class="text-right break-word">{{ parameter.id }}</td>
                    </tr>
                    <tr>
                        <td><strong>Description</strong></td>
                        <td class="text-right break-word">{{ parameter.desc }}</td>
                    </tr>
                    <tr>
                        <td><strong>Value</strong></td>
                        <td class="text-right break-word">{{ parameter.formattedValue|raw }}</td>
                    </tr>
                    {#                    <tr>#}
                    {#                        <td><strong>Block&nbsp;Hash</strong></td>#}
                    {#                        <td class="text-right break-word">#}
                    {#                            <a href="{{ path('app_block_view', {'height': proposal.blockHash}) }}">{{ proposal.blockHash }}</a>#}
                    {#                        </td>#}
                    {#                    </tr>#}
                    {#                    <tr>#}
                    {#                        <td><strong>Payment&nbsp;Address</strong></td>#}
                    {#                        <td class="text-right break-word">#}
                    {#                            <a href="{{ path('app_address_index', {'hash': proposal.paymentAddress}) }}">{{ proposal.paymentAddress }}</a>#}
                    {#                        </td>#}
                    {#                    </tr>#}
                    {#                    <tr>#}
                    {#                        <td><strong>Duration</strong></td>#}
                    {#                        <td class="text-right break-word">#}
                    {#                            {{ proposal.duration }}#}
                    {#                        </td>#}
                    {#                    </tr>#}
                    {#                    {% if proposal.expiresOn %}#}
                    {#                        <tr>#}
                    {#                            <td><strong>Expiry Date</strong></td>#}
                    {#                            <td class="text-right break-word">{{ proposal.expiresOn|date_localised('Y-m-d, H:i:s') }}</td>#}
                    {#                        </tr>#}
                    {#                    {% endif %}#}
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <table class="table table-striped table-proposal">
                    <tbody>
                    <tr>
                        <td><strong>Last Updated</strong></td>
                        <td class="text-right">{{ parameter.updatedOnBlock ? : 'Never' }}</td>
                    </tr>
                    <tr>
                        <td><strong>Consultations</strong></td>
                        <td class="text-right">{{ consultations|length }}
                    </tr>
                    {#                    <tr>#}
                    {#                        <td><strong>NAV&nbsp;Requested</strong></td>#}
                    {#                        <td class="text-right break-word">{{ proposal.requestedAmount|stake_format }}</td>#}
                    {#                    </tr>#}
                    {#                    <tr>#}
                    {#                        <td><strong>NAV&nbsp;Paid</strong></td>#}
                    {#                        <td class="text-right break-word">{{ (proposal.requestedAmount - proposal.notYetPaid)|stake_format }}</td>#}
                    {#                    </tr>#}
                    {#                    <tr>#}
                    {#                        <td><strong>Fee</strong></td>#}
                    {#                        <td class="text-right break-word">{{ proposal.userPaidFee|stake_format }}</td>#}
                    {#                    </tr>#}
                    {#                    <tr>#}
                    {#                        <td><strong>Status</strong></td>#}
                    {#                        <td class="text-right break-word">{{ proposal.status|title }}</td>#}
                    {#                    </tr>#}
                    {#                    {% if proposal.stateChangedOnBlock and proposal.state == "ACCEPTED" %}#}
                    {#                        <tr>#}
                    {#                            <td><strong>Acception Date</strong></td>#}
                    {#                            <td class="text-right break-word">#}
                    {#                                {{ block.created|date_localised('Y-m-d, H:i:s') }}#}
                    {#                            </td>#}
                    {#                        </tr>#}
                    {#                    {% endif %}#}
                    </tbody>
                </table>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" data-toggle="collapse" data-target="#consultations" aria-expanded="true" aria-controls="consultations">
                            Consultations
                        </a>
                    </li>
                </ul>

                <div id="block-collapse">
                    <div id="consultations" class="collapse show" data-parent="#block-collapse">
                        {% include "dao/components/consensus_consultations_list.html.twig" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br>
                <a class="btn btn-info" href="{{ path('app_dao_consensus') }}">Go back</a>
            </div>
        </div>
    </div>
{% endblock %}