{% extends "base.html.twig" %}

{% block title %}{{ consultation.question }}{% endblock %}
{% block description %}NavCoin DAO Consultation {{ consultation.hash }}{% endblock %}

{% block page %}page-dao-consultation{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>DAO</h1>
                <h2>Consultation</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if consultation.state == 3 %}
                    <div class="alert alert-danger">
                        This consultation has expired
                    </div>
                {% else %}
                    {% include "community_fund/components/blockcycle_stats.html.twig" %}
                {% endif %}
            </div>
        </div>

        {% if consultation.state == 9 and consultation.votingCyclesFromCreation < 3 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        Consultation has found support. Waiting until the end of the 2nd voting cycle to begin final voting
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row margin-bottom">
            <div class="col-sm-12 col-md-8">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        {% if consultation.consensusParameter %}
                            <td><strong>Consensus change for</strong></td>
                            <td class="text-right break-word">{{ consultation.question|trim('Consensus change for: ', 'left') }}</td>
                        {% else %}
                            <td><strong>Question</strong></td>
                            <td class="text-right break-word">{{ consultation.question }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Hash</strong></td>
                        <td class="text-right break-word">{{ consultation.hash }}</td>
                    </tr>
                    <tr>
                        <td><strong>Block Hash</strong></td>
                        <td class="text-right break-word">
                            <a href="{{ path('app_block_view', {'height': consultation.blockHash}) }}">{{ consultation.blockHash }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Proposed By</strong></td>
                        <td class="text-right break-word">
                            <a href="{{ path('app_address_index', { 'hash': consultation.proposedBy }) }}">{{ consultation.proposedBy }}</a>
                        </td>
                    </tr>
                    {% if consultation.status == "passed" %}
                        <tr>
                            <td><strong>Activated On Block</strong></td>
                            <td class="text-right break-word">
                                <a href="{{ path("app_block_view", {"height": consultation.updatedOnBlock}) }}">{{ consultation.updatedOnBlock }}</a>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><strong>Status</strong></td>
                        <td class="text-right break-word">{{ consultation.status|capitalize }}</td>
                    </tr>
                    <tr>
                        <td><strong>Voting Cycle </strong></td>
                        <td class="text-right break-word">{{ consultation.votingCycleForState|ordinal }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-12 col-md-4">
                <table class="table table-striped">
                    <tbody>
                    <tr class="d-flex">
                        <td class="col-7"><strong>Version</strong></td>
                        <td class="text-right break-word col-5">
                            {{ consultation.version }}
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-7"><strong>Supports a range of answers</strong></td>
                        <td class="text-right break-word col-5">
                            {{ consultation.isARange ? 'true' : 'false' }}
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-7"><strong>Supports additional answers</strong></td>
                        <td class="text-right break-word col-5">
                            {{ consultation.allowsMoreAnswers ? 'true' : 'false' }}
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-7"><strong>Changes consensus</strong></td>
                        <td class="text-right break-word col-5">
                            {{ consultation.consensusParameter ? 'true' : 'false' }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% include "dao/components/answers_list.html.twig" %}
    </div>
{% endblock %}