{% extends "base.html.twig" %}

{% block title %}DAO{% endblock %}

{% block page %}page-dao-index{% endblock %}

{% block body %}
    <div class="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>DAO</h1>
                    <h2>Consensus Parameters</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Description</th>
                                    <th class="text-center">Value</th>
                                    <th class="text-center">Last Updated</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for idx, parameter in parameters %}
                                        <tr>
                                            <td>{{ parameter.id }}</td>
                                            <td>{{ parameter.desc }}</td>
                                            <td class="text-center">{{ parameter.formattedValue|raw }}</td>
                                            <td class="text-center">{{ parameter.updatedOnBlock ? : 'Never' }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">There are no consensus parameters</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <a class="btn btn-info" href="{{ path('app_dao_index') }}">Go back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
