{% extends "base.html.twig" %}

{% block title %}DAO Consultations{% endblock %}
{% block description %}Navcoin DAO Consultations{% endblock %}

{% block page %}page-dao-consultations{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 margin-bottom">
                <h1>DAO</h1>
                <h2>Consensus Parameter</h2>
            </div>
        </div>

        <div class="row summary">
            <div class="col-md-8">
                <table class="table table-striped table-nav">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td class="text-right break-word">{{ parameter.id }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td class="text-right break-word">{{ parameter.desc }}</td>
                    </tr>
                    <tr>
                        <th>Value</th>
                        <td class="text-right break-word">{{ parameter.formattedValue|raw }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <table class="table table-striped table-nav table-second">
                    <tbody>
                    <tr>
                        <th>Last Updated</th>
                        <td class="text-right">{{ parameter.updatedOnBlock ? : 'Never' }}</td>
                    </tr>
                    <tr>
                        <th>Consultations</th>
                        <td class="text-right">{{ consultations|length }}
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" data-toggle="collapse" data-target="#consultations" aria-expanded="true" aria-controls="consultations">
                            Consultations
                        </a>
                    </li>
                </ul>

                <div id="block-collapse">
                    <div id="consultations" class="collapse show" data-parent="#block-collapse">
                        {% include "dao/components/consensus_consultations_list.html.twig" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br>
                <a class="btn btn-info" href="{{ path('app_dao_consensus') }}">Go back</a>
            </div>
        </div>
    </div>
{% endblock %}