{% extends "base.html.twig" %}

{% block title %}DAO{% endblock %}

{% block page %}page-dao-index{% endblock %}

{% block body %}
    <div class="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>DAO</h1>

                    <div class="row">
                        <div class="col-lg-8 col-md-10 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Community&nbsp;Fund</h2>
                                </div>
                                <div class="card-body">
                                    <p>
                                        The NavCoin <a href="{{path('app_communityfund_index')}}" class="card-link">Community Fund</a>
                                        is a decentralized way to fund projects and initiatives voted for by the community.
                                    </p>
                                    <p>Community members can create proposals and payment requests.<br>The community then vote to confirm acceptance and release payment.</p>
                                </div>
                                <div class="card-footer text-right">
                                    <a href="{{path('app_communityfund_proposals', {'state': 'pending'})}}" class="card-link">Proposals</a>
                                    <a href="{{path('app_communityfund_paymentrequests', {'state': 'pending'})}}" class="card-link">Payment Requests</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-10 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Consensus&nbsp;Parameters</h2>
                                </div>
                                <div class="card-body">
                                    <p>Consensus parameters are used to govern the NavCoin network.</p>
                                    <p>Through the DAO community members can propose consultations to change the consensus parameters that govern NavCoin.</p>
                                </div>
                                <div class="card-footer text-right">
                                    <a href="{{path('app_dao_consensusparameters')}}" class="card-link">Consensus Parameters</a>
                                    <a href="{{path('app_dao_consensusconsultations')}}" class="card-link">View Consultations</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-10 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Consultations</h2>
                                </div>
                                <div class="card-body">
                                    <p>&nbsp;</p>
                                </div>
                                <div class="card-footer text-right">
                                    <a href="{{path('app_communityfund_index')}}" class="card-link">All Consultations</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
