{% extends "base.html.twig" %}

{% block title %}Community Fund{% endblock %}

{% block page %}page-communityFund-index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Community Fund</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    Votes counted for block <strong>{{ blockCycle.currentBlock|number_format }}</strong> of <strong>{{ blockCycle.blocksInCycle|number_format }}</strong> in the {{ blockCycle.cycle|ordinal }} block cycle.<br/>
                    {% if blockCycle.remainingBlocks == 1 %}
                        There is <strong>{{ blockCycle.remainingBlocks|number_format }}</strong> block remaining.
                    {% else %}
                        There are <strong>{{ blockCycle.remainingBlocks|number_format }}</strong> blocks remaining.
                    {% endif %}
                </div>
            </div>
        </div>

        {% include 'community_fund/components/index_proposals.html.twig' %}
    </div>
{% endblock %}