{% extends "base.html.twig" %}

{% block title %}Community Fund Payment Requests{% endblock %}
{% block description %}NavCoin Community Fund Payment Requests{% endblock %}

{% block page %}page-communityFund-proposals{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>DAO</h1>
                <h2>Payment Requests</h2>
                {% include "community_fund/components/blockcycle_stats.html.twig" %}
            </div>
        </div>

        <div class="row proposals-list">
            <div class="col-md-12">
                <h3 class="float-left">{{ active|replace({'-': ' '})|capitalize }} Payment Requests</h3>

                <div class="filters float-right">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="{{ active == 'pending' ? 'active' : '' }}" href="{{ path('app_communityfund_paymentrequests', {'state': 'pending'}) }}">Pending</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="{{ active == 'accepted' ? 'active' : '' }}" href="{{ path('app_communityfund_paymentrequests', {'state': 'accepted'}) }}">Accepted</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="{{ active == 'paid' ? 'active' : '' }}" href="{{ path('app_communityfund_paymentrequests', {'state': 'paid'}) }}">Paid</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="{{ active == 'rejected' ? 'active' : '' }}" href="{{ path('app_communityfund_paymentrequests', {'state': 'rejected'}) }}">Rejected</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="{{ active == 'expired' ? 'active' : '' }}" href="{{ path('app_communityfund_paymentrequests', {'state': 'expired'}) }}">Expired</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {% include "community_fund/components/paymentrequests_list.html.twig"%}

        <div class="row">
            <div class="col-md-12">
                <br>
                <a class="btn btn-info" href="{{ path('app_communityfund_index') }}">Go back</a>
            </div>
        </div>
    </div>
{% endblock %}