{% extends "base.html.twig" %}

{% block title %}Community Fund Payment Requests{% endblock %}
{% block description %}Navcoin Community Fund Payment Requests{% endblock %}

{% block page %}page-communityFund-proposals{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 margin-bottom-half">
                <h1>DAO</h1>
                <h2>Payment Requests</h2>
            </div>
            <div class="col-12 margin-bottom-half">
                {% include "community_fund/components/blockcycle_stats.html.twig" %}
            </div>
        </div>

        <div class="row proposals-list">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link {{ active == "pending" ? "active" : "" }}" href="{{ path("app_communityfund_paymentrequests", {'status': 'pending'}) }}">Pending</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ active == "accepted" ? "active" : "" }}" href="{{ path("app_communityfund_paymentrequests", {'status': 'accepted'}) }}">Accepted</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ active == "rejected" ? "active" : "" }}" href="{{ path("app_communityfund_paymentrequests", {'status': 'rejected'}) }}">Rejected</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ active == "expired" ? "active" : "" }}" href="{{ path("app_communityfund_paymentrequests", {'status': 'expired'}) }}">Expired</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ active == "paid" ? "active" : "" }}" href="{{ path("app_communityfund_paymentrequests", {'status': 'paid'}) }}">Paid</a>
                    </li>
                </ul>

                <div id="block-collapse">
                    {% include "community_fund/components/paymentrequests_list.html.twig"%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}