{% extends "base.html.twig" %}

{% block title %}Community Fund Proposals{% endblock %}
{% block description %}NavCoin Community Fund Proposals{% endblock %}

{% block page %}page-communityFund-proposals{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>DAO</h1>
                <h2>Proposals</h2>
                {% include "community_fund/components/blockcycle_stats.html.twig" %}
            </div>
        </div>

        <div class="row proposals-list">
            <div class="col-md-12">
                <div class="float-left">
                    <h3>{{ active|replace({'-': ' '})|capitalize }} Proposals</h3>
                </div>
                <div class="filters float-right">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="{{ active == 'pending' ? 'active' : '' }}" href="{{ path('app_communityfund_proposals', {'status': 'pending'}) }}">Pending</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="{{ active == 'accepted' ? 'active' : '' }}" href="{{ path('app_communityfund_proposals', {'status': 'accepted'}) }}">Accepted</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="{{ active == 'rejected' ? 'active' : '' }}" href="{{ path('app_communityfund_proposals', {'status': 'rejected'}) }}">Rejected</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="{{ active == 'expired' ? 'active' : '' }}" href="{{ path('app_communityfund_proposals', {'status': 'expired'}) }}">Expired</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="{{ active == 'pending-funds' ? 'active' : '' }}" href="{{ path('app_communityfund_proposals', {'status': 'pending-funds'}) }}">Pending Funds</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {% include "community_fund/components/proposals_list.html.twig" %}

        <div class="row">
            <div class="col-md-12">
                <br>
                <a class="btn btn-info" href="{{ path('app_communityfund_index') }}">Go back</a>
            </div>
        </div>
    </div>
{% endblock %}