{% extends "base.html.twig" %}

{% block title %}Community Fund Proposal - {{ proposal.hash }}{% endblock %}

{% block page %}page-communityFund-index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h1>Community&nbsp;Fund Proposal</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h2>{{ proposal.description }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ include('community_fund/components/view_alert.html.twig') }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link {% if tab == "details" %}active{% endif %}" href="{{ path("app_communityfund_view", {"hash": proposal.hash}) }}">
                            Proposal
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if tab == "voting" %}active{% endif %}" href="{{ path("app_communityfund_viewvoting", {"hash": proposal.hash}) }}">
                            Voting
                        </a>
                    </li>
                    {% if proposal.wasApproved %}
                        <li class="nav-item">
                            <a class="nav-link {% if tab == "payments" %}active{% endif %}" href="{{ path("app_communityfund_viewpaymentrequests", {"hash": proposal.hash, 'state': 'pending'}) }}">
                                Payment Requests
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% block view_content %}
                    {{ include('community_fund/components/view_proposal_details.html.twig') }}
                {% endblock %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br>
                <a class="btn btn-info" href="{{ path('app_communityfund_index', {'state': proposal.state|lower}) }}">Back to Proposals</a>
            </div>
        </div>
    </div>
{% endblock %}