{% extends "base.html.twig" %}

{% block title %}Community Fund Proposal - {{ proposal.hash }}{% endblock %}
{% block description %}{{ proposal.description|capitalize }}{% endblock %}

{% block page %}page-communityfund-proposal-view{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h1>Community&nbsp;Fund Proposal</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h4 class="proposal-description">{{ proposal.description|capitalize }}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ include('community_fund/components/view_proposal_details.html.twig') }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" data-toggle="collapse" data-target="#voting" aria-expanded="true" aria-controls="voting">
                            Voting
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" data-target="#payment-requests" aria-expanded="false" aria-controls="payment-requests">
                            Payment&nbsp;Requests
                        </a>
                    </li>
                </ul>

                <div id="block-collapse">
                    <div id="voting" class="collapse show" data-parent="#block-collapse">
                        <h3>Voting cycle {{ proposal.votingCycle }}</h3>
                        {{ proposalVoteProgress(proposal, blockCycle, proposal.votingCycle) }}
                        <p class="text-muted">Accept {{ proposal.votesYes }} / Reject {{ proposal.votesNo }}</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12 margin-bottom">
                            <h4>Voters For</h4>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Address</th>
                                        <th>Votes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for vote in votesYes %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('app_address_index', {'hash': vote.address }) }}">{{ vote.address }}</a>
                                            </td>
                                            <td>{{ vote.votes }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="2">Nobody has voted for this proposal</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h4>Voters Against</h4>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Address</th>
                                    <th>Votes</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for vote in votesNo %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('app_address_index', {'hash': vote.address }) }}">{{ vote.address }}</a>
                                        </td>
                                        <td>{{ vote.votes }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2">Nobody has voted against this proposal</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="payment-requests" class="collapse collapsed" data-parent="#block-collapse">
                        {% include "community_fund/components/view_payment_requests.html.twig" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br>
                <a class="btn btn-info" href="{{ path('app_communityfund_proposals', {'state': proposal.state|lower}) }}">Back to Proposals</a>
            </div>
        </div>
    </div>
{% endblock %}