{% extends "base.html.twig" %}

{% block title %}Community Fund Proposal - {{ proposal.hash }}{% endblock %}

{% block page %}page-communityFund-index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h1>Community&nbsp;Fund Proposal</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h2>{{ proposal.description }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ include('community_fund/components/view_proposal_details.html.twig') }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" data-toggle="collapse" data-target="#voting" aria-expanded="true" aria-controls="voting">
                            Voting
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" data-target="#payment-requests" aria-expanded="false" aria-controls="payment-requests">
                            Payment&nbsp;Requests
                        </a>
                    </li>
                </ul>

                <div id="block-collapse">
                    <div id="voting" class="collapse show" data-parent="#block-collapse">
                        <h3>Voting cycle {{ proposal.votingCycle }}</h3>
                        {{ proposalVoteProgress(proposal, blockCycle, proposal.votingCycle) }}
                        <p class="text-muted">Accept {{ proposal.votesYes }} / Reject {{ proposal.votesNo }}</p>
                    </div>

                    {#<div class="col-md-4">#}
                    {#<div class="card">#}
                    {#<div class="card-body">#}
                    {#<h3>Voting Rules</h3>#}
                    {#<dl>#}
                    {#<dt>Voting cycle size</dt>#}
                    {#<dd>{{ blockCycle.blocksInCycle }} blocks</dd>#}

                    {#<dt>Minimum quorum required</dt>#}
                    {#<dd>{{ blockCycle.minQuorum * 100 }}% - {{ blockCycle.blocksInCycle * blockCycle.minQuorum}} blocks</dd>#}

                    {#<dt>Voting cycles per proposal</dt>#}
                    {#<dd>{{ blockCycle.proposalVoting.cycles }}</dd>#}

                    {#<dt>Vote percentage required to accept</dt>#}
                    {#<dd>{{ blockCycle.proposalVoting.accept * 100}}%</dd>#}

                    {#<dt>Vote percentage required to Reject</dt>#}
                    {#<dd>{{ blockCycle.proposalVoting.reject * 100}}%</dd>#}
                    {#</dl>#}
                    {#</div>#}
                    {#</div>#}
                    {#</div>#}

                    <div id="payment-requests" class="collapse collapsed" data-parent="#block-collapse">
                        {% include "community_fund/components/view_payment_requests.html.twig" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br>
                <a class="btn btn-info" href="{{ path('app_communityfund_index', {'state': proposal.state|lower}) }}">Back to Proposals</a>
            </div>
        </div>
    </div>
{% endblock %}