<div class="row transaction-summary">
    <div class="col-sm-12">
        <h2 class="break-word">{{ transaction.hash }}</h2>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-8">
        <table class="table table-striped table-nav">
            <tbody>
                <tr>
                    <th>Height</th>
                    <td class="text-right">
                        <a href="{{ path('app_block_view', {'height': transaction.height}) }}">
                            {{ transaction.height|number_format }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Input</th>
                    <td class="text-right">
                        {{ transaction.inputs.value|nav }}
                    </td>
                </tr>
                <tr>
                    <th>Output</th>
                    <td class="text-right">
                        {{ transaction.outputs.value|nav }}
                    </td>
                </tr>
                {% if transaction.staking %}
                    <tr>
                        <th>Stake&nbsp;Reward</th>
                        <td class="text-right">
                            {{ transaction.stake|nav }}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Fees Paid</th>
                    <td class="text-right">
                        {{ transaction.fees|nav }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4">
        <table class="table table-striped table-nav table-second">
            <tbody>
                <tr>
                    <th>Confirmations</th>
                    <td class="text-right">{{ block.confirmations }}</td>
                </tr>
                <tr>
                    <th>Size</th>
                    <td class="text-right">{{ transaction.size }}</td>
                </tr>
                <tr>
                    <th>Version</th>
                    <td class="text-right">{{ transaction.version }}</td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td class="text-right">
                        {{ transaction.time|date_localised('Y-m-d, H:i:s') }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
