<h2>Coinbase</h2>

<table class="table table-striped table-adaptive table-nav">
    <thead>
    <tr>
        <th style="width: 5%">Index</th>
        <th style="width: 20%">Type</th>
        <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    {% for vout in transaction.vouts %}
        {% if vout.proposalVote %}
            <tr>
                <td data-role="index">{{ vout.index }}</td>
                <td data-role="type">{{ vout.type|capitalize|replace({'_': ' '}) }}</td>
                <td data-role="proposal" colspan="2">
                    <a class="break-word" href="{{ path('app_communityfund_view', {'hash': vout.hash}) }}">{{ vout.hash }}</a>
                </td>
            </tr>
        {% elseif vout.paymentRequestVote %}
            <tr>
                <td data-role="index">{{ vout.index }}</td>
                <td data-role="type">{{ vout.type|capitalize|replace({'_': ' '}) }}</td>
                <td data-role="proposal" colspan="2">
                    <a class="break-word" href="{{ path('app_communityfund_view', {'hash': vout.hash}) }}">{{ vout.hash }}</a>
                </td>
            </tr>
        {% elseif vout.consultationVote %}
            <tr>
                <td data-role="index">{{ vout.index }}</td>
                <td data-role="type">{{ vout.type|capitalize|replace({'_': ' '}) }}</td>
                <td data-role="proposal" colspan="2">
                    <a class="break-word" href="{{ path('app_dao_answer', {'hash': vout.hash}) }}">{{ vout.hash }}</a>
                </td>
            </tr>
        {% elseif vout.supportVote %}
            <tr>
                <td data-role="index">{{ vout.index }}</td>
                <td data-role="type">{{ vout.type|capitalize|replace({'_': ' '}) }}</td>
                <td data-role="proposal" colspan="2">
                    <a class="break-word" href="{{ path('app_dao_consultation', {'hash': vout.hash}) }}">{{ vout.hash }}</a>
                </td>
            </tr>
        {% elseif vout.type == "nonstandard" %}
            <tr>
                <td data-role="index">{{ vout.index }}</td>
                <td data-role="type" colspan="3">{{ vout.type|capitalize }}</td>
            </tr>
        {% else %}
            <tr>
                <td data-role="index">{{ vout.index }}</td>
                <td data-role="type">{{ vout.type|lower }}</td>
                <td data-role="address">
                    {% if vout.address %}
                        <a class="break-word" href="{{ path('app_address_index', {'hash': vout.address}) }}">{{ vout.address }}</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td data-role="amount">{{ vout.amount|nav }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>