<div class="margin-bottom">
<h2>Inputs</h2>
<table class="table table-striped table-adaptive table-nav">
    <thead>
        <tr>
            <th class="text-center" style="width:5%">Index</th>
            <th style="width:10%">Type</th>
            <th style="width:40%">Address</th>
            <th style="width: 30%">Previous Output</th>
            <th style="width: 15%" class="text-right">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for vin in transaction.vins.elements %}
            <tr>
                <td data-role="index" class="text-center">{{ vin.vout }}</td>
                <td data-role="type" >
                    {% if vin.isMultiSig %} MultiSig ({{ vin.previousOutput.multisig.required }}/{{ vin.previousOutput.multisig.total }})
                    {% elseif vin.isWrapped %} Wrapped
                    {% elseif vin.isPrivate %} Private
{#                    {% elseif vin.isPrivateFee %} Private Fee#}
                    {% elseif vin.previousOutput and vin.previousOutput.type == "pubkey" %} PubKey
                    {% elseif vin.previousOutput and vin.previousOutput.type == "pubkeyhash" %} PubKeyHash
                    {% elseif vin.previousOutput and vin.previousOutput.type =="nonstandard" %} NonStandard
                    {% endif %}
                </td>
                <td data-role="address">
                    {% if vin.previousOutput.multiSig %}
                        <span class="no-break">
                            <a class="break-word" href="{{ path('app_address_index', { 'hash': vin.previousOutput.multisig.key }) }}">{{ vin.previousOutput.multisig.hash }}</a>
                        </span>
                    {% else %}
                        {% for address in vin.addresses %}
                            <span class="break-word">
                                <a href="{{ path('app_address_index', { 'hash': address }) }}">{{ address }}</a>
                            </span>
                        {% else %}
                            Hidden
                        {% endfor %}
                    {% endif %}
                </td>
                <td data-role="previousOutput">
                    {% if vin.previousOutput %}
                        <span style="white-space: nowrap">
                            <a href="{{ path('app_transaction_view', {'hash': vin.txid}) }}">
                                {{ vin.txid[0:10] }}...{{ vin.txid[vin.txid|length-4:] }}:{{ vin.vout }}
                            </a>
                            {% if vin.previousOutput.height %}
                                <small>in <a href="{{ path('app_block_view', {'height': vin.previousOutput.height}) }}">{{ vin.previousOutput.height }}</a></small>
                            {% endif %}
                        </span>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td data-role="amount" class="text-right">
                    {% if vin.previousOutput.wrapped %}
                        {{ vin.value|wnav }}
                    {% elseif vin.previousOutput.private %}
                        {{ vin.value|xnav }}
                    {% else %}
                        {{ vin.value|nav }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">There are no transaction inputs</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>