<h2>Outputs</h2>
<table class="table table-striped table-adaptive">
    <thead>
        <tr>
            <th style="width: 5%">Index</th>
            <th style="width: 15%">Type</th>
            <th style="width: 35%">Address</th>
            <th style="width: 25%">Redeemed&nbsp;In</th>
            <th style="width: 20%" class="text-right">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for key, output in transaction.outputs %}
            <tr>
                <td data-role="index">{{ output.index }}</td>
                <td data-role="type">
                    {% if output.addresses|length == 0 %}
                        nonstandard
                    {% else %}
                        {{ output.type|lower }}
                    {% endif %}
                </td>
                <td data-role="address">
                    {% if output.type == "CFUND_CONTRIBUTION" %}
                        N/A
                    {% elseif output.addresses|length == 1 %}
                        <a href="{{ path('app_address_index', { 'hash': output.addresses[0] }) }}" class="break-word">{{ output.addresses[0] }}</a>
                    {% elseif output.addresses|length == 2 %}
                        <span class="break-word">
                            <a href="{{ path('app_address_index', { 'hash': output.addresses[0] }) }}">{{ output.addresses[0] }}</a>
                            <small>Staking Address</small>
                        </span>
                        <span class="break-word">
                            <a href="{{ path('app_address_index', { 'hash': output.addresses[1] }) }}">{{ output.addresses[1] }}</a>
                            <small>Spending Address</small>
                        </span>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td data-role="redeemedIn">
                    {% if output.redeemedInTransaction %}
                        <a href="{{ path('app_transaction_view', {'hash': output.redeemedInTransaction}) }}">{{ output.redeemedInTransaction|slice(0, 20) }}</a>...
                        <small>in <a href="{{ path('app_block_view', {'height': output.redeemedInBlock}) }}">{{ output.redeemedInBlock }}</a></small>
                    {% else %}
                        {% if output.addresses|length != 0 %}
                            Unspent
                        {% endif %}
                    {% endif %}
                </td>
                <td data-role="amount" class="text-right">
                    {{ output.amount|stake_format }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>