<div class="row transaction-summary">
    <div class="col-sm-12">
        <h2>{{ transaction.hash }}</h2>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-8">
        <table class="table table-striped table-nav">
            <tbody>
                <tr>
                    <td><strong>Height</strong></td>
                    <td class="text-right">
                        <a href="{{ path('app_block_view', {'height': transaction.height}) }}">
                            {{ transaction.height }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><strong>Total&nbsp;Output</strong></td>
                    <td class="text-right">
                        {{ transaction.outputs.value|stake_format }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Fees</strong></td>
                    <td class="text-right">
                        {{ transaction.fees|stake_format }}
                    </td>
                </tr>
                {% if transaction.staking %}
                    <tr>
                        <td><strong>Stake&nbsp;Reward</strong></td>
                        <td class="text-right">
                            {{ transaction.stake|stake_format }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td><strong>Confirmations</strong></td>
                    <td class="text-right">{{ block.confirmations }}</td>
                </tr>
                <tr>
                    <td><strong>Size</strong></td>
                    <td class="text-right">{{ transaction.size }}</td>
                </tr>
                <tr>
                    <td><strong>Version</strong></td>
                    <td class="text-right">{{ transaction.version }}</td>
                </tr>
                <tr>
                    <td><strong>Time</strong></td>
                    <td class="text-right">
                        {{ transaction.time|date_localised('Y-m-d, H:i:s') }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
