<h2>Top {{ count }} Addresses</h2>

<div>
    <table class="table table-striped table-nav">
        <thead>
            <tr>
                <th>#</th>
                <th>Address</th>
                <th colspan="2">Balance</th>
                <th class="d-none d-md-table-cell">Last&nbsp;Block</th>
            </tr>
        </thead>
        <tbody>
            {% for richListItem in richList %}
                <tr>
                    <td>{{ richListItem.richList.spending }}</td>
                    <td>
                        <a href="{{ path('app_address_index', { 'hash': richListItem.hash }) }}" class="break-word">{{ richListItem.hash }}</a>
                    </td>
                    <td>Spendable<br/>Stakable<br/>Voting Weight</td>
                    <td>
                        {{ richListItem.spending|stake_format(false, 2) }}<br/>
                        {{ richListItem.staking|stake_format(false, 2) }}<br/>
                        {{ richListItem.voting|stake_format(false, 2) }}
                    </td>
                    <td class="d-none d-md-table-cell"><a href="{{ path('app_block_view', {'height': richListItem.height}) }}">{{ richListItem.height }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
