{% extends "base.html.twig" %}

{% block title %}Soft Forks{% endblock %}
{% block description %}Soft forks that have been proposed and activated on the NavCoin network{% endblock %}

{% block page %}page-soft-forks-index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Soft Forks</h1>

                <div class="alert alert-info">
                    Signaling for block <strong>{{ (cycle.currentBlock-cycle.firstBlock)|number_format }}</strong> of <strong>{{ cycle.blocksInCycle|number_format }}</strong> in the {{ cycle.blockCycle|ordinal }} block cycle.<br/>
                    There are <strong>{{ cycle.remainingBlocks|number_format }}</strong> blocks remaining.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <h2>Signalling</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td class="text-center">Blocks Signalling</td>
                            <td class="text-center d-none d-sm-table-cell">Blocks Required</td>
                            <td class="text-center d-none d-sm-table-cell">Blocks Remaining</td>
                            <td class="text-center">Vote&nbsp;%</td>
                            <td class="text-center">Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fork in softForks if fork.state not in ['active'] %}
                            <tr>
                                <td>{{ fork.name }}</td>
                                <td class="text-center">
                                    {{ fork.bestCycle|number_format }}
                                </td>
                                <td class="text-center d-none d-sm-table-cell">{{ (cycle.blocksInCycle * 0.75)|number_format }}</td>
                                <td class="text-center d-none d-sm-table-cell">{{ cycle.remainingBlocks|number_format }}</td>
                                <td class="text-center">{{ ((fork.bestCycle / (cycle.blocksInCycle-cycle.remainingBlocks)) * 100)|number_format(1) }}%</td>
                                <td class="text-center">
                                    {% if (cycle.blocksInCycle * 0.75) - fork.bestCycle > cycle.remainingBlocks %}
                                        <span class="badge badge-warning">Missed</span>
                                    {% elseif (fork.bestCycle >= (cycle.blocksInCycle * 0.75)) %}
                                        <span class="badge badge-success">Locked In</span>
                                    {% else %}
                                        <span class="badge badge-info">{{ fork.state|capitalize }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6" class="text-center">There are no signalling soft forks</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h2 class="margin-top">Active / Locked-in</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>Name</td>
                        <td class="text-center">Locked In Height</td>
                        <td class="text-center">Activation Height</td>
                        <td class="text-center">Vote&nbsp;%</td>
                        <td class="text-center">Status</td>
                    </tr>
                    </thead>
                    <tbody>

                    {% for fork in softForks if fork.state in ['active'] %}
                        <tr>
                            <td>{{ fork.name }}</td>
                            <td class="text-center">
                              <a href="{{ path('app_block_view', {'height': fork.lockedInHeight }) }}">{{ fork.lockedInHeight }}</a>
                            </td>
                            <td class="text-center">
                                {% if fork.state == 'ACTIVE' %}
                                    <a href="{{ path('app_block_view', {'height': fork.activationHeight }) }}">{{ fork.activationHeight }}</a>
                                {% else %}
                                    {% if block.height < fork.activationHeight %}
                                        {{ fork.activationHeight }}
                                    {% else %}
                                        <a href="{{ path('app_block_view', {'height': fork.activationHeight }) }}">
                                            {{ fork.activationHeight }}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {{ ((fork.bestCycle / cycle.blocksInCycle) * 100)|number_format(1) }}%
                            </td>
                            <td class="text-center">
                                {% if fork.state == 'active' %}
                                    <span class="badge badge-success">{{ fork.state|capitalize }}</span>
                                {% elseif fork.state == 'locked_in' %}
                                    <span class="badge badge-info">Locked In</span>
                                {% else %}
                                    <span class="badge badge-info">{{ fork.state|capitalize }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
