{% extends "base.html.twig" %}

{% block title %}Soft Forks{% endblock %}
{% block description %}Soft forks that have been proposed and activated on the NavCoin network{% endblock %}

{% block page %}page-soft-forks-index{% endblock %}

{% set blocksInCycle = (softForks|first).blocksInCycle %}
{% set firstBlock = (blocksInCycle * block.blockCycle) - blocksInCycle %}
{% set currentBlock = (block.height - firstBlock) %}
{% set remainingBlocks = blocksInCycle - currentBlock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Soft Forks</h1>

                <div class="alert alert-info">
                    Signaling for block <strong>{{ currentBlock|number_format }}</strong> of <strong>{{ (softForks|first).blocksInCycle|number_format }}</strong> in the {{ block.blockCycle|ordinal }} block cycle.<br/>
                    There are <strong>{{ remainingBlocks|number_format }}</strong> blocks remaining.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 col-lg-8">
                <div class="content">
                    <h2>Signalling soft forks</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td class="text-center">Blocks Signalling</td>
                                <td class="text-center d-none d-sm-table-cell">Blocks Required</td>
                                <td class="text-center d-none d-sm-table-cell">Blocks Remaining</td>
                                <td class="text-center">Vote&nbsp;%</td>
                                <td class="text-center">Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fork in softForks if fork.state not in ['ACTIVE', 'LOCKED_IN'] and fork.blocksSignalling != 0 %}
                                <tr>
                                    <td>{{ fork.name }}</td>
                                    <td class="text-center">{{ fork.blocksSignalling|number_format }}</td>
                                    <td class="text-center d-none d-sm-table-cell">{{ (fork.blocksInCycle*0.75)|number_format }}</td>
                                    <td class="text-center d-none d-sm-table-cell">{{ fork.blocksRemaining|number_format }}</td>
                                    <td class="text-center">{{ ((fork.blocksSignalling / currentBlock) * 100)|round }}%</td>
                                    <td class="text-center">
                                        {% if (fork.blocksInCycle*0.75) - fork.blocksSignalling > fork.blocksRemaining %}
                                            <span class="badge badge-warning">Missed</span>
                                        {% elseif (fork.blocksSignalling >= (fork.blocksInCycle*0.75)) %}
                                            <span class="badge badge-success">Locked In</span>
                                        {% else %}
                                            <span class="badge badge-info">{{ fork.state|capitalize }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6" class="text-center">There are no signalling soft forks</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="content">
                    <h2>Active / Locked In soft forks</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>Name</td>
                            <td class="text-center">Locked In Height</td>
                            <td class="text-center">Activation Height</td>
                            <td class="text-center">Vote&nbsp;%</td>
                            <td class="text-center">Status</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fork in softForks if fork.state in ['ACTIVE', 'LOCKED_IN'] %}
                            <tr>
                                <td>{{ fork.name }}</td>
                                <td class="text-center"><a href="{{ path('app_block_view', {'height': fork.lockedInHeight }) }}">{{ fork.lockedInHeight }}</a></td>
                                <td class="text-center">
                                    {% if fork.state == 'ACTIVE' %}
                                        <a href="{{ path('app_block_view', {'height': fork.activationHeight }) }}">{{ fork.activationHeight }}</a>
                                    {% else %}
                                        {{ fork.activationHeight }}
                                    {% endif %}
                                </td>
                                <td class="text-center">{{ ((fork.blocksSignalling / fork.blocksInCycle) * 100)|round }}%</td>
                                <td class="text-center">
                                    {% if fork.state == 'ACTIVE' %}
                                        <span class="badge badge-success">{{ fork.state|capitalize }}</span>
                                    {% elseif fork.state == 'LOCKED_IN' %}
                                        <span class="badge badge-info">Locked In</span>
                                    {% else %}
                                        <span class="badge badge-info">{{ fork.state|capitalize }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-5 col-lg-4">
                <div class="card content">
                    <div class="card-body">
                        <h3>What are soft forks?</h3>
                        <p>Soft forks are changes to the protocols that govern the NavCoin blockchain.</p>
                        <p>At the end of each {{ ((softForks|first).blocksInCycle)|number_format }} block cycle the number of blocks that signalled support for a soft fork are counted.</p>
                        <p>If the number of signalling blocks is greater than 75% the soft fork is locked in and will be activated at the end of the next block cycle.</p>
                        <p>If the block cycle fails to reach the required 75% a new attempt to lock in the soft fork is started in the next block cycle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
