<div class="bestBlock">
    <h2>Best Block ({{ best.height }})</h2>
    <table class="table table-striped table-nav">
        <tbody>
        <tr>
            <th scope="col">hash</th>
            <td class="text-right">
                <a href="{{ path('app_block_view', {'height': best.height}) }}" class="break-word">{{ best.hash|slice(0, 32) }}...</a>
            </td>
        </tr>
        <tr>
            <th scope="col">Staked By</th>
            <td class="text-right">
                <a href="{{ path('app_address_index', {'hash': best.stakedBy}) }}" class="break-word">{{ best.stakedBy }}</a>
            </td>
        </tr>
        <tr>
            <th scope="col">Staked Reward</th>
            <td class="text-right">
                {{ best.stake|stake_format }}
            </td>
        </tr>
        <tr>
            <th scope="col">Nav Spent</th>
            <td class="text-right">
                {{ best.spend|stake_format }}
            </td>
        </tr>
        <tr>
            <th scope="col">Transactions</th>
            <td class="text-right">{{ best.transactions }}</td>
        </tr>
        <tr>
            <th scope="col">Created At</th>
            <td class="text-right">{{ best.created|date_localised('Y-m-d, H:i:s') }}
        </tr>
        </tbody>
    </table>
</div>