<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-top">
        <h2>Nav in Circulation <span class="pr-2 float-right font-roboto" id="total-supply">{{ loaderDots('sm') }}</span></h2>
        <table class="table table-striped table-nav">
            <tr>
                <th>Public</th>
                <td class="text-right"><span id="public-supply">{{ loaderDots("sm") }}</span></td>
            </tr>
            <tr>
                <th>Private</th>
                <td class="text-right"><span id="private-supply">{{ loaderDots("sm") }}</span></td>
            </tr>
            <tr>
                <th>Wrapped</th>
                <td class="text-right"><span id="wrapped-supply">{{ loaderDots("sm") }}</span></td>
            </tr>
        </table>
    </div>

    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-top">
        <h2>Current Price</h2>
        <table class="table table-striped table-nav">
            <tr>
                <th>BTC</th>
                <td class="text-right"><span id="ticker-btc">{{ loaderDots("sm") }}</span></td>
            </tr>
            <tr>
                <th>USD</th>
                <td class="text-right"><span id="ticker-usd">{{ loaderDots("sm") }}</span></td>
            </tr>
            <tr>
                <th>Market Cap <span id="market-cap-rank"></span></th>
                <td class="text-right"><span id="market-cap">{{ loaderDots("sm") }}</span></td>
            </tr>
        </table>
    </div>
</div>
