<h1 class="float-left">Overview</h1>

<form class="form-filter" action="{{ path('app_home_index') }}">
    <span class="legend">Group by:</span>
    <label>
        <a class="btn btn-sm btn-info" href="{{ path('app_home_index', {'period': 'hourly'}) }}">Hourly</a>
    </label>
    <label>
        <a class="btn btn-sm btn-info" href="{{ path('app_home_index', {'period': 'daily'}) }}">Daily</a>
    </label>
</form>

<table class="table table-striped table-adaptive">
    <thead>
        <tr>
            <th>{{ period|capitalize }}&nbsp;Period</th>
            <th>Height</th>
            <th class="text-center">Blocks</th>
            <th class="text-center">Transactions</th>
            <th>Stake Rewards</th>
            <th>Nav Spent</th>
            <th class="d-none d-md-table-cell">Fees</th>
        </tr>
    </thead>
    <tbody>
    {% for index, block in blocks %}
        <tr>
            <td data-role="hourlyPeriod">{{ period(period, index, block) }}</td>
            <td data-role="height"><a href="{{ path('app_block_view', {'height': block.height}) }}">{{ block.height }}</a></td>
            <td class="text-center" data-role="blocks">{{ block.blocks }}</td>
            <td class="text-center" data-role="transactions">{{ block.transactions }}</td>
            <td data-role="stakeRewards">{{ block.stake|stake_format }}</td>
            <td data-role="navSpent">{{ block.spend|stake_format }}</td>
            <td data-role="fees" class="d-none d-md-table-cell">{{ block.fees|stake_format }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>