<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="network" data-network="{{ network }}">
                        <a class="btn btn-info" id="blackhole" href="/">
                            <i class="darkmode fas fa-moon {{ app.session.get('darkmode') ? 'd-none' : '' }}"></i>
                            <i class="lightmode fas fa-sun {{ app.session.get('darkmode') ? '' : 'd-none' }}"></i>
                        </a>
                        <a class="btn btn-info" href="http://www.navexplorer.com" {{ network == 'MAINNET' ? 'class="active"' : '' }}>Main Net</a>
                        <a class="btn btn-info" href="http://testnet.navexplorer.com" {{ network == 'TESTNET' ? 'class="active"' : '' }}>Test Net</a>
                </div>
                <div class="float-right p-1"> All times displayed in UTC </div>
            </div>
        </div>
    </div>
</footer>
