<div class="navbar navbar-expand-sm navbar-dark bg-nav mb-sm-10">
    <div class="container-fluid">
        <a class="navbar-brand d-xs-block d-sm-none" href="{{ path('app_home_index') }}">NavExplorer</a>

        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ path('app_block_index') }}" class="nav-link">Blocks</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_dao_index') }}" class="nav-link">Dao</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_richlist_index') }}" class="nav-link">Rich&nbsp;List</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_softfork_index') }}" class="nav-link">Soft&nbsp;Forks</a>
                </li>
                <li class="nav-item">
                    <a href="https://navpool.org" class="nav-link">NavPool</a>
                </li>
            </ul>

            <form class="form-inline header-search d-xs-none d-sm-block" action="{{ path('app_search_results') }}" method="POST">
                <div class="input-group">
                    <input type="text" class="form-control" id="hash" name="hash" placeholder="Search by hash or height">
                    <div class="input-group-append">
                        <button class="btn" type="submit">
                            <span class="oi oi-magnifying-glass"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>