<div class="card card-proposal">
    <div class="card-header">
        {% if consultation.isConsensusParameter %}
            <h5 class="height-2">{{ a.answer|answerType(consensus.type) }}</h5>
        {% else %}
            <h5 class="height-2">{{ a.answer|capitalize }}</h5>
        {% endif %}
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="{{ path('app_dao_answer', {'hash': a.hash, 'consultation': consultation.hash}) }}" class="break-word">{{ a.hash }}</a>
        </li>

        <li class="list-group-item">
            Support
            <span class="float-right">{{ a.support }}</span>
        </li>

        <li class="list-group-item">
            Votes
            <span class="float-right">{{ a.votes }}</span>
        </li>

        <li class="list-group-item">
            Version
            <span class="float-right">{{ a.version }}</span>
        </li>

        <li class="list-group-item">
            Status
            <span class="float-right">
                {% if consultation.state == 0 and a.foundSupport %}
                    Found support, waiting for end of voting period
                {% else %}
                    {{ a.status|capitalize }}
                {% endif %}
            </span>
        </li>
    </ul>

    <div class="card-footer">
        <div class="d-flex justify-content-center">
{#            <a href="{{ path('app_dao_answer', {"hash": a.hash, 'consultation': consultation.hash}) }}" class="btn btn-info">View Answer</a>#}
        </div>
    </div>
</div>