<div class="card card-proposal card-nav">
    <div class="card-header">
        <h2 class="clamp" data-lines="3">{{ paymentRequest.description|capitalize}}</h2>
    </div>

    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Payment Request Hash
                <span class="float-right">
                    <a href="{{ path('app_communityfund_viewpaymentrequest', {'hash': paymentRequest.hash}) }}" class="break-word">
                        {{ paymentRequest.hash[0:10] }}...{{ paymentRequest.hash[paymentRequest.hash|length-4:] }}
                    </a>
                </span>
            </li>
            <li class="list-group-item">
                Nav Requested
                <span class="float-right">{{ paymentRequest.requestedAmount|nav }}</span>
            </li>

            <li class="list-group-item">
                {{ paymentRequestVoteProgress(paymentRequest, blockCycle) }}
                <p class="text-muted">
                <span class="float-left">
                    Accept {{ paymentRequest.votesYes }} / Reject {{ paymentRequest.votesNo }} / Abstain {{ paymentRequest.votesAbs }}
                </span>
                    <span class="float-right">Cycle: {{ paymentRequest.votingCycle }}</span>
                </p>
            </li>

            <li class="list-group-item">
                Status
                <span class="float-right">{{ paymentRequest.status|title }}</span>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <div class="d-flex justify-content-center">
            <a href="{{ path('app_communityfund_viewpaymentrequest', {'hash': paymentRequest.hash}) }}">View Payment Request</a>
        </div>
    </div>
</div>