
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>Hash</th>
                <th>Nav Requested</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for idx, paymentRequest in paymentRequests %}
                <tr class="{% if idx is even %}tr-alt{% endif %}">
                    <td colspan="3">
                        <div class="inline-proposal-description"><a href="{{ path('app_communityfund_viewpaymentrequest', {'hash': paymentRequest.hash}) }}">{{ paymentRequest.description|capitalize|default("No Description")}}</a></div>
                    </td>
                </tr>
                <tr class="{% if idx is even %}tr-alt {% endif %}tr-sub">
                    <td>{{ paymentRequest.hash }}</td>
                    <td>{{ paymentRequest.requestedAmount|stake_format }}</td>
                    <td>{{ paymentRequest.status|title }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">There are no payment requests</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>