<div class="card card-proposal card-nav">
    <div class="card-header {{ paymentRequest.isSuper ? 'nav-animated-bg' : '' }}">
        <h2 class="clamp" data-lines="3" style="padding: 0px 10px;">{{ paymentRequest.description|capitalize}}</h2>
    </div>

    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Payment Request Hash
                <span class="float-right">
                    <a href="{{ path('app_communityfund_viewpaymentrequest', {'hash': paymentRequest.hash}) }}" class="break-word">
                        {{ paymentRequest.hash[0:10] }}...{{ paymentRequest.hash[paymentRequest.hash|length-4:] }}
                    </a>
                </span>
            </li>

            <li class="list-group-item">
                Nav Requested
                <span class="float-right">{{ paymentRequest.requestedAmount|nav }}</span>
            </li>

            <li class="list-group-item">
                <p>Acceptance</p>
                <div style="padding: 0.5rem;">{{ paymentRequestVoteProgress(paymentRequest, blockCycle) }}</div>
                <p class="text-center">
                  Accept: {{ paymentRequest.votesYes|number_format }} |
                  Reject: {{ paymentRequest.votesNo|number_format }} |
                  Abstain: {{ paymentRequest.votesAbs|number_format }}
                </p>
            </li>

            <li class="list-group-item">
                <p>Participation</p>
                <div style="padding: 0.5rem;">{{ paymentRequestVoteProgressParticipation(paymentRequest, blockCycle) }}</div>
                <p class="text-center">
                  Voted: {{ (paymentRequest.votesYes + paymentRequest.votesNo + paymentRequest.votesAbs)|number_format }} |
                  Didn't Vote: {{ (blockCycle.size - (paymentRequest.votesYes + paymentRequest.votesNo + paymentRequest.votesAbs + paymentRequest.votesExcluded) - (paymentRequest.status == 'pending' ? blockCycle.size - blockCycle.index : 0))|number_format }} |
                  Unmined: {{ (paymentRequest.status == 'pending' ? blockCycle.size - blockCycle.index : 0)|number_format }}
                </p>
            </li>

            <li class="list-group-item">
                Voting Cycle
                <span class="float-right">{{ paymentRequest.votingCycle }}</span>
            </li>

            <li class="list-group-item">
                Status
                <span class="float-right">{{ paymentRequest.status|title }}</span>
            </li>

            <li class="list-group-item">
                Super payment request
                <span class="float-right">{{ paymentRequest.isSuper ? 'Yes' : 'No' }}</span>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <div class="d-flex justify-content-center">
            <a href="{{ path('app_communityfund_viewpaymentrequest', {'hash': paymentRequest.hash}) }}">View Payment Request</a>
        </div>
    </div>
</div>
