<h2>Proposals</h2>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {{ active == 'pending' ? 'active' : '' }}" href="{{ path('app_communityfund_index', {'state': 'pending'}) }}">
            Pending
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ active == 'accepted' ? 'active' : '' }}" href="{{ path('app_communityfund_index', {'state': 'accepted'}) }}">
            Accepted
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ active == 'rejected' ? 'active' : '' }}" href="{{ path('app_communityfund_index', {'state': 'rejected'}) }}">
            Rejected
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ active == 'expired' ? 'active' : '' }}" href="{{ path('app_communityfund_index', {'state': 'expired'}) }}">
            Expired
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ active == 'pending-funds' ? 'active' : '' }}" href="{{ path('app_communityfund_index', {'state': 'pending-funds'}) }}">
            Pending Funds
        </a>
    </li>
</ul>

<div>
    {% if active == 'accepted' %}
        {% include "community_fund/components/proposals_accepted.html.twig" %}
    {% else %}
        {% include "community_fund/components/proposals_default.html.twig"%}
    {% endif %}
</div>