<div class="card card-proposal">
    <div class="card-header">
        <h5>{{ proposal.description|capitalize}}</h5>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="{{ path('app_communityfund_view', {'hash': proposal.hash}) }}" class="break-word">{{ proposal.hash }}</a>
        </li>
        <li class="list-group-item">
            NAV Requested
            <span class="float-right">{{ proposal.requestedAmount|stake_format }}</span>
        </li>
        <li class="list-group-item">
            NAV Paid
            <span class="float-right">{{ (proposal.requestedAmount - proposal.notYetPaid)|stake_format }}</span>
        </li>
        <li class="list-group-item">
            Duration
            <span class="float-right">{{ proposal.duration }}</span>
        </li>
        <li class="list-group-item">
            {{ proposalVoteProgress(proposal, blockCycle) }}
            <p class="text-muted">
                <span class="float-left">
                    Accept {{ proposal.votesYes }} / Reject {{ proposal.votesNo }} / Abstain {{ proposal.votesAbs }}
                </span>
                <span class="float-right">Cycle: {{ proposal.votingCycle }}</span>
            </p>
        </li>
        <li class="list-group-item">
            Status
            <span class="float-right">{{ proposal.status|title }}</span>
        </li>
    </ul>

    <div class="card-footer">
        <div class="d-flex justify-content-center">
            <a href="{{ path('app_communityfund_view', {'hash': proposal.hash}) }}" class="btn btn-info">View Proposal</a>
        </div>
    </div>
</div>