<div class="proposal-voting">
    <h4>Voting</h4>

    <p>The proposal was moved to {{ proposal.state|lower }} on its {{ proposal.proposalVotes.latestVotes.votingCycle }} voting cycle.</p>

    {% for proposalVote in proposal.proposalVotes|reverse %}
        <div class="voting-cycle">
            <h5>Voting cycle {{ proposalVote.votingCycle }}</h5>
            {{ proposalVoteProgress(proposal, blockCycle, proposalVote.votingCycle) }}
            <p class="text-muted">Accept {{ proposalVote.votesYes }} / Reject {{ proposalVote.votesNo }}</p>
        </div>
    {% endfor %}
</div>