<div class="row">
    <div class="col-md-8">
        <table class="table table-striped table-proposal">
            <tbody>
            <tr>
                <td><strong>Payment Request Hash</strong></td>
                <td class="text-right break-word" id="proposal-hash">{{ paymentRequest.hash }}</td>
            </tr>
            <tr>
                <td><strong>Proposal&nbsp;Hash</strong></td>
                <td class="text-right break-word">
                    <a href="{{ path('app_communityfund_view', {'hash': paymentRequest.proposalHash}) }}">{{ paymentRequest.proposalHash }}</a>
                </td>
            </tr>
            <tr>
                <td><strong>Block&nbsp;Hash</strong></td>
                <td class="text-right break-word">
                    <a href="{{ path('app_block_view', {'height': paymentRequest.blockHash}) }}">{{ paymentRequest.blockHash }}</a>
                </td>
            </tr>

            {% if paymentRequest.status == "paid" and paymentRequest.stateChangedOnBlock %}
                <tr>
                    <td><strong>Paid On Block</strong></td>
                    <td class="text-right break-word">
                        <a href="{{ path('app_search_results', {'hash': paymentRequest.stateChangedOnBlock}) }}">{{ paymentRequest.stateChangedOnBlock }}</a>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <table class="table table-striped table-proposal">
            <tbody>
            <tr>
                <td><strong>NAV&nbsp;Requested</strong></td>
                <td class="text-right break-word">{{ paymentRequest.requestedAmount|stake_format }}</td>
            </tr>
            <tr>
                <td><strong>NAV&nbsp;Available</strong></td>
                <td class="text-right break-word">{{ proposal.notYetPaid|stake_format }}</td>
            </tr>
            <tr>
                <td><strong>Status</strong></td>
                <td class="text-right break-word">{{ paymentRequest.status|title }}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>