<div class="margin-bottom row">
    <div class="col-md-6 col-sm-12 margin-bottom">
        <h3>Voting Cycle {{ paymentRequest.votingCycle }}</h3>
        {{ paymentRequestVoteProgress(paymentRequest, blockCycle, paymentRequest.votingCycle) }}
        <p class="text-muted">Accept {{ paymentRequest.votesYes }} / Reject {{ paymentRequest.votesNo }}</p>
    </div>

    <div class="col-md-6 col-sm-12">
        <h3>Voting Trend</h3>
        <canvas id="trendChart" class="margin-top"></canvas>
    </div>
</div>

<div class="row" id="votes">
    <div class="col-md-6 col-sm-12 margin-bottom">
        <h4>Voters For</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Address</th>
                <th>Votes</th>
            </tr>
            </thead>
            <tbody>
            {% for vote in votesYes %}
                <tr>
                    <td>
                        <a href="{{ path('app_address_index', {'hash': vote.address }) }}">{{ vote.address }}</a>
                    </td>
                    <td>{{ vote.votes }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Nobody has voted for this payment request</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="col-md-6 col-sm-12">
        <h4>Voters Against</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Address</th>
                <th>Votes</th>
            </tr>
            </thead>
            <tbody>
            {% for vote in votesNo %}
                <tr>
                    <td>
                        <a href="{{ path('app_address_index', {'hash': vote.address }) }}">{{ vote.address }}</a>
                    </td>
                    <td>{{ vote.votes }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Nobody has voted against this payment request</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>