<div class="margin-bottom row">
    <div class="col-md-6 col-sm-12 margin-bottom">
        <h3>Voting cycle {{ votes.latestCycle.cycle }}</h3>
        {{ paymentRequestVoteProgress(paymentRequest, blockCycle, votes.latestCycle) }}
        <p class="text-muted">Accept {{ paymentRequest.votesYes }} / Reject {{ paymentRequest.votesNo }} / Abstain {{ paymentRequest.votesAbs }}</p>
    </div>

    <div class="col-md-6 col-sm-12">
        <h3>Voting Trend</h3>
        <canvas id="trendChart" class="margin-top"></canvas>
    </div>
</div>

<div class="row" id="votes">
    <div class="col-md-4 col-sm-12 margin-bottom">
        <h4>Voting Yes</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Address</th>
                <th class="text-center">Votes</th>
            </tr>
            </thead>
            <tbody>
            {{ votes.latestCycle.sortAddressesYesDesc() }}
            {% for vote in votes.latestCycle.addresses if vote.yes != 0 %}
                <tr>
                    <td>
                        <a href="{{ path('app_address_index', {'hash': vote.address }) }}" class="break-word">{{ vote.address }}</a>
                    </td>
                    <td class="text-center">{{ vote.yes }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Nobody has voted for this payment request</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-4 col-sm-12">
        <h4>Voting No</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Address</th>
                <th class="text-center">Votes</th>
            </tr>
            </thead>
            <tbody>
            {{ votes.latestCycle.sortAddressesNoDesc() }}
            {% for vote in votes.latestCycle.addresses if vote.no != 0 %}
                <tr>
                    <td>
                        <a href="{{ path('app_address_index', {'hash': vote.address }) }}" class="break-word">{{ vote.address }}</a>
                    </td>
                    <td class="text-center">{{ vote.no }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Nobody has voted against this payment request</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-4 col-sm-12">
        <h4>Voting Abstain</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Address</th>
                <th class="text-center">Votes</th>
            </tr>
            </thead>
            <tbody>
            {{ votes.latestCycle.sortAddressesNoDesc() }}
            {% for vote in votes.latestCycle.addresses if vote.abstain != 0 %}
                <tr>
                    <td>
                        <a href="{{ path('app_address_index', {'hash': vote.address }) }}" class="break-word">{{ vote.address }}</a>
                    </td>
                    <td class="text-center">{{ vote.abstain }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Nobody has abstained from voting</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>